.general-message{
  	background: url("resources/img/background.png");
  	height: 1935px;

  	.income{
	  background: url("./img/Background.png");
	  position: absolute;
	  top: 85px;
	  height: 64px;
	  width: 100%;
	}
}
